*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
:root{
    --primary:#f34c4c;
    --secondary:#000000e1;
    --white:#fff;
    --dark:#0e0c29;
}
header{
    width: 100%;
    height: 100px;
    background: var(--secondary);
}